{% extends 'base.html' %} {% block content %}

<div class="container my-3">
  <ul class="list-group list-group-flush w-50 mx-auto">
    {% for item in cart %}
    <li class="list-group-item">
        <p>{{item['title']}}</p>
        <p style="display: inline-block;">x{{cartinfo[cart.index(item)].quantity}}</p><span id="prices" style="float: right;">${{cartinfo[cart.index(item)].quantity * item['price']}}</span>
    </li>
    {% endfor %}
  </ul>
  <hr>
</div>

<div class="container text-center">
    <h1>Total due today: ${{total}}</h1>
    <small class="text-muted">Not including tax.</small><br>
    <button class="btn btn-primary btn-lg my-3">Checkout</button><br>
    <button onclick="{window.location = 'https://flask-store.onrender.com/editcart'}" class="btn btn-warning btn-small">Edit cart</button>
</div>

{% endblock %}
